doctype html
html
  head
    style.
      .page {overflow："hidden"}
    title= siteTitle
  body(style="width: 210mm;height: 297mm;background-color:#E6E6FA;transform-origin: 0 0; -webkit-transform-origin: 0 0; transform: scale(0.75); -webkit-transform: scale(0.75);")
    div(style="width: 210mm;height: 296mm;background-color:#FFFFFF")
      p= url
      img(src="#{qrcode}")
      img(src="#{qrcode}")
      img(src="#{qrcode}")
      img(src="#{qrcode}")
      img(src="#{qrcode}")
      img(src="#{qrcode}")
      img(src="#{qrcode}")
      img(src="#{qrcode}")
      img(src="#{qrcode}")
      img(src="#{qrcode}")
      img(src="#{qrcode}")
      img(src="#{qrcode}")
      img(src="#{qrcode}")
      img(src="#{qrcode}")
      img(src="#{qrcode}")
      img(src="#{qrcode}")
      img(src="#{qrcode}")
      img(src="#{qrcode}")
      img(src="#{qrcode}")
      img(src="#{qrcode}")