doctype html
html
  head
    title= title
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/assets/css/main.css')
  body 
    header(id="header")
      div(class="inner")
        a(href="/" class="logo") Poke Me！
        nav(id="nav")
          a(href="/") Home
          a(href="/#create") 建立戳戳樂
          a(href="/thread/createEmpty") 列印空白條碼
    a(href="#menu" class="navPanelToggle")
      span(class="fa fa-bars")
    block content

    section(id="footer")
      div(class="inner")
        p 歡迎來 
          a(href="#{siteHost}") #{siteTitle} 
          | 你可以快速地建立一個表單來接收大家的回應，用QRCode留在你的作品上，或使用網址快速地傳遞給你的朋友。
    script(src="/assets/js/jquery.min.js")
    script(src="/assets/js/skel.min.js")
    script(src="/assets/js/util.js")
    script(src="/assets/js/main.js")