doctype html
html(style="padding: 0;margin: 0;")
  head
    title= siteTitle
    style.
      .page {overflow："hidden"}
  body(style="background-color:#E6E6FA;padding: 0;margin: 0;")
    center
      div(style="width: 210mm;height: 297mm;background-color:#FFFFFF;    display:flex;flex-direction:column;")
        div(style="display:flex;flex:1")
          center
            p= url
        div(style="display:flex;flex:1")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
        div(style="display:flex;flex:1")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
        div(style="display:flex;flex:1")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
        div(style="display:flex;flex:1")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
        div(style="display:flex;flex:1")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
        div(style="display:flex;flex:1")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
        div(style="display:flex;flex:1")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")
          img(src="#{qrcode}" style="flex:1;object-fit: contain;")