extends layout

block content
  script.
    //var date = new Date(#{created_at});
    //var dateString = date.getFullYear()+"/"+date.getMonth()+"/"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();
    //document.getElementById("startDate").innerHTML = dateString;

  h1= title
  div(style="border-width:3px;border-style:dashed;border-color:#FFAC55;padding:5px;width:600px;min-height:190px;")
    span(style="width:175px;float:left;") 
      img(src="#{qrcode}")
    span(style="display:inline;width:400px;")
      h3= title
      pre #{ownerSaid}
      p= nickname
      p 建立時間: #{created_at}
  p(style="clear:left") 平均評分：#{avgRank}
  hr
  form(action='/thread/#{_id}/comment', method="post")
    div(style="border-width:2px;border-style:solid;border-color:#FFAC55;padding:5px;").input
      | 您的代號 
      input(type="text", name="nickname") 
      br
      | 想法與反饋
      textarea(type="text", name="response") #{defaultResponse}
      br
      | 總體評量(10最好，0最差)
      input(type="radio", name="rank", value="10")
      | 10 
      input(type="radio", name="rank", value="9")
      | 9 
      input(type="radio", name="rank", value="8")
      | 8 
      input(type="radio", name="rank", value="7")
      | 7 
      input(type="radio", name="rank", value="6")
      | 6 
      input(type="radio", name="rank", value="5")
      | 5 
      input(type="radio", name="rank", value="4")
      | 4 
      input(type="radio", name="rank", value="3")
      | 3 
      input(type="radio", name="rank", value="2")
      | 2 
      input(type="radio", name="rank", value="1")
      | 1 
      br
      | 聯絡方式（選填）
      input(type="text", name="email")
    div.actions
      input(type="submit", value="送出")

  if (typeof(comments) != 'undefined' && comments!=null)
    h3 已經投稿的回覆
    for com in comments
      div(style="border-width:2px;border-style:solid;border-color:#000000;padding:5px;").comment
        p
          if (typeof(com.email) == 'undefined')
            a(href="mailto:com.email") com.nickname
          else
            | #{com.nickname}
          | ：評分 #{com.rank} (滿分10)
          com.rank
        p
          pre= com.response

  p 歡迎來 #{siteTitle} ，你可以快速地建立一個表單來接收大家的回應，使用網址或是QRCode快速地傳遞給你的朋友們。
